body {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header #logo {
    position: fixed;
    top: 12%;
    left: 5%;
    z-index: 100; }
  header .logo_none {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  header .logo_return {
    display: block;
    opacity: 1;
    z-index: 1;
    text-transform: uppercase; }
    header .logo_return svg path:nth-child(3) {
      fill: #2D2A26; }
  header nav {
    position: absolute;
    top: 0;
    right: -12%;
    z-index: 1;
    width: 100%;
    height: 80px;
    background: #2D2A26;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: skew(40deg);
            transform: skew(40deg); }
    header nav ul {
      font-family: "Intro-Bold", sans-serif;
      font-size: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style: none;
      -webkit-transform: skew(-40deg);
              transform: skew(-40deg);
      color: #fff;
      margin-right: 20px; }
      header nav ul li {
        margin: auto; }
        header nav ul li a {
          display: inline-block;
          padding: 0 30px;
          color: #fff;
          text-decoration: none; }
      header nav ul a:hover {
        height: 80px;
        -webkit-transform: skew(40deg);
                transform: skew(40deg);
        background-color: #FFED00;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #2D2A26;
        cursor: pointer; }
        header nav ul a:hover span {
          -webkit-transform: skew(-40deg);
                  transform: skew(-40deg);
          color: #2D2A26; }
      header nav ul li:nth-child(8) {
        margin-left: 50px;
        padding: 15px 0;
        border: 1px solid #FFED00;
        -webkit-transform: skew(40deg);
                transform: skew(40deg);
        pointer-events: none; }
        header nav ul li:nth-child(8) a {
          -webkit-transform: skew(-40deg);
                  transform: skew(-40deg);
          color: #FFED00; }
  header .scroll-down {
    position: absolute;
    top: 86%;
    left: 94%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Intro-Regular", sans-serif;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    height: 67px;
    width: 123px; }
    header .scroll-down p {
      margin: 0;
      font-size: 14px;
      color: #fff; }
  header .scroll-down::before {
    content: '';
    display: inline-block;
    background-color: #fff;
    margin-right: 12px;
    width: 25px;
    height: 1px; }

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden; }

.block-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  .block-text__title {
    margin-bottom: 10px;
    font-family: "Intro-Bold-Italic", sans-serif;
    line-height: 83px;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase; }
  .block-text__p {
    font-family: "Graphik", sans-serif;
    margin: 0;
    line-height: 34px;
    font-size: 18px;
    text-align: center; }

[data-am-fadeshow] {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  /* Slides */
  /* Quick Navigation */
  /* Base functionality */
  /* Autohide Prev/Next Navigation */ }
  [data-am-fadeshow] .fs-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease; }
    [data-am-fadeshow] .fs-slide:first-child {
      opacity: 1; }
  [data-am-fadeshow] .fs-quick-nav {
    position: absolute;
    bottom: 15px;
    left: 8%;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  [data-am-fadeshow] .fs-quick-btn {
    display: inline-block;
    width: 41px;
    height: 6px;
    margin: 0 7px;
    -webkit-transform: skew(40deg);
            transform: skew(40deg);
    cursor: pointer;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    background-color: rgba(255, 255, 255, 0.4);
    /* Set active state to first button on load */ }
    [data-am-fadeshow] .fs-quick-btn:hover {
      opacity: 0.8; }
    [data-am-fadeshow] .fs-quick-btn:first-child {
      background-color: #FFED00; }
  [data-am-fadeshow] input[type="radio"] {
    position: fixed;
    top: -9999px; }
    [data-am-fadeshow] input[type="radio"]:checked {
      /* This loop handles the slide switching and quick navigation active state */ }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-slides .fs-slide {
        opacity: 0;
        -webkit-animation: none !important;
        animation: none !important; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-slides .fs-slide:nth-child(5) {
        opacity: 1; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-quick-nav .fs-quick-btn {
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-animation: none !important;
        animation: none !important; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-quick-nav .fs-quick-btn:nth-child(5) {
        background-color: #FFED00; }
        [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-quick-nav .fs-quick-btn:nth-child(5):hover {
          opacity: 1; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-slides .fs-slide {
        opacity: 0;
        -webkit-animation: none !important;
        animation: none !important; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-slides .fs-slide:nth-child(4) {
        opacity: 1; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-quick-nav .fs-quick-btn {
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-animation: none !important;
        animation: none !important; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-quick-nav .fs-quick-btn:nth-child(4) {
        background-color: #FFED00; }
        [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-quick-nav .fs-quick-btn:nth-child(4):hover {
          opacity: 1; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-slides .fs-slide {
        opacity: 0;
        -webkit-animation: none !important;
        animation: none !important; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-slides .fs-slide:nth-child(3) {
        opacity: 1; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-quick-nav .fs-quick-btn {
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-animation: none !important;
        animation: none !important; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-quick-nav .fs-quick-btn:nth-child(3) {
        background-color: #FFED00; }
        [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-quick-nav .fs-quick-btn:nth-child(3):hover {
          opacity: 1; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-slides .fs-slide {
        opacity: 0;
        -webkit-animation: none !important;
        animation: none !important; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-slides .fs-slide:nth-child(2) {
        opacity: 1; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-quick-nav .fs-quick-btn {
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-animation: none !important;
        animation: none !important; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
        background-color: #FFED00; }
        [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-quick-nav .fs-quick-btn:nth-child(2):hover {
          opacity: 1; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-slides .fs-slide {
        opacity: 0;
        -webkit-animation: none !important;
        animation: none !important; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-slides .fs-slide:nth-child(1) {
        opacity: 1; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-quick-nav .fs-quick-btn {
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-animation: none !important;
        animation: none !important; }
      [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
        background-color: #FFED00; }
        [data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-quick-nav .fs-quick-btn:nth-child(1):hover {
          opacity: 1; }
      [data-am-fadeshow] input[type="radio"]:checked:first-of-type:last-of-type ~ .fs-quick-nav,
      [data-am-fadeshow] input[type="radio"]:checked:first-of-type:last-of-type ~ .fs-prev-nav,
      [data-am-fadeshow] input[type="radio"]:checked:first-of-type:last-of-type ~ .fs-next-nav {
        display: none !important; }
  [data-am-fadeshow]:hover .fs-prev-btn,
  [data-am-fadeshow]:hover .fs-next-btn {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  section .box-block {
    margin: 100px auto 0 auto;
    position: relative; }
    section .box-block__title {
      margin: auto;
      position: relative;
      font-family: "Intro-Bold-Italic", sans-serif;
      line-height: 72px;
      font-size: 56px;
      text-transform: uppercase;
      z-index: 1; }
    section .box-block__text {
      margin: 0 auto;
      max-width: 750px;
      font-family: "Graphik", sans-serif;
      line-height: 30px;
      font-size: 16px; }
    section .box-block .yellow-line {
      width: 10px;
      z-index: -1;
      height: 65px;
      background-color: #FFED00;
      -webkit-transform: skew(30deg);
              transform: skew(30deg);
      position: absolute;
      left: 280px; }
    section .box-block .meet {
      position: absolute;
      left: 5px; }
    section .box-block .item-blocks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  section .services-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: skew(35deg);
            transform: skew(35deg);
    margin-top: 50px; }
    section .services-item .serv_block {
      -webkit-transform: translateY(150px);
              transform: translateY(150px); }
      section .services-item .serv_block svg:nth-child(2) {
        margin: 15px 60px; }
    section .services-item .item-block {
      margin: 10px;
      padding-left: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 220px;
      height: 210px;
      background: #2D2A26; }
      section .services-item .item-block__title {
        max-width: 100px;
        font-family: "Intro-Bold", sans-serif;
        line-height: 21px;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #fff;
        margin-top: 20px; }
      section .services-item .item-block__text {
        float: left;
        text-align: left;
        max-width: 175px;
        font-family: "Graphik", sans-serif;
        line-height: 18px;
        font-size: 13px;
        color: #fff;
        margin-top: 0; }
      section .services-item .item-block .services_content {
        margin-right: 30px; }
        section .services-item .item-block .services_content svg {
          margin: 10px 0; }
      section .services-item .item-block h2, section .services-item .item-block p, section .services-item .item-block svg {
        -webkit-transform: skew(-35deg);
                transform: skew(-35deg); }
      section .services-item .item-block svg .ic-1 {
        fill: #FFED00; }
      section .services-item .item-block svg:nth-child(4) {
        margin: auto; }
      section .services-item .item-block svg path {
        fill: inherit; }
    section .services-item .item-block:hover {
      background-color: #FFED00;
      cursor: pointer;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      section .services-item .item-block:hover h2 {
        color: #2D2A26; }
      section .services-item .item-block:hover svg .ic-1 {
        fill: #2D2A26; }

#modal_window {
  position: fixed;
  z-index: 5;
  overflow: auto;
  height: 110%;
  width: 100%; }

#overlay {
  z-index: 2;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.services-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  display: none; }
  .services-blocks .box-block {
    margin-top: 170px; }
    .services-blocks .box-block .yellow-line {
      left: 40%; }
  .services-blocks .services-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
    width: 100%;
    margin: 200px auto; }
    .services-blocks .services-columns .services-column:nth-child(1) {
      -webkit-transform: translateY(350px);
              transform: translateY(350px);
      height: 460px; }
    .services-blocks .services-columns .services-column:nth-child(2) {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      height: 910px; }
    .services-blocks .services-columns .services-column:nth-child(3) {
      -webkit-transform: translateY(-150px);
              transform: translateY(-150px);
      height: 690px; }
    .services-blocks .services-columns .services-column:nth-child(4) {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      height: 460px; }
    .services-blocks .services-columns .services-column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .services-blocks .services-columns .services-column h2, .services-blocks .services-columns .services-column p, .services-blocks .services-columns .services-column svg {
        -webkit-transform: skew(-30deg);
                transform: skew(-30deg); }
      .services-blocks .services-columns .services-column svg {
        margin: 0 50px 30px 50px; }
      .services-blocks .services-columns .services-column svg .ic-1 {
        fill: #FFED00; }
      .services-blocks .services-columns .services-column svg path {
        fill: inherit; }
      .services-blocks .services-columns .services-column .services_content {
        margin-right: 30px; }
        .services-blocks .services-columns .services-column .services_content svg {
          margin: 10px 0; }
      .services-blocks .services-columns .services-column .column-item {
        background-color: #2D2A26;
        margin: 10px;
        padding-left: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 210px;
        height: 200px; }
        .services-blocks .services-columns .services-column .column-item__title {
          max-width: 100px;
          font-family: "Intro-Bold", sans-serif;
          line-height: 21px;
          font-size: 16px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #fff;
          margin-top: 20px; }
        .services-blocks .services-columns .services-column .column-item__text {
          float: left;
          text-align: left;
          max-width: 175px;
          font-family: "Graphik", sans-serif;
          line-height: 18px;
          font-size: 13px;
          color: #fff;
          margin-top: 0; }
      .services-blocks .services-columns .services-column .column-item:hover {
        background-color: #FFED00;
        cursor: pointer; }
        .services-blocks .services-columns .services-column .column-item:hover h2, .services-blocks .services-columns .services-column .column-item:hover p {
          color: #2D2A26; }
        .services-blocks .services-columns .services-column .column-item:hover svg .ic-1 {
          fill: #2D2A26; }
  .services-blocks .services-close {
    position: absolute;
    cursor: pointer;
    top: 100px;
    right: 40px;
    background-color: #2D2A26;
    -webkit-transform: skew(35deg);
            transform: skew(35deg); }
    .services-blocks .services-close p {
      padding: 5px 15px;
      margin: 0;
      -webkit-transform: skew(-35deg);
              transform: skew(-35deg);
      color: #fff;
      font-family: "Graphik", sans-serif; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  section .cases-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 15px; }
    section .cases-blocks .cases-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto; }
    section .cases-blocks .cases-block {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 750px;
      height: 500px;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      overflow: hidden; }
      section .cases-blocks .cases-block img {
        width: 100%;
        height: 100%; }
      section .cases-blocks .cases-block .overlay {
        border-bottom: 100px solid #FFED00;
        border-left: 100px solid transparent;
        bottom: 0;
        height: 0;
        opacity: .8;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        width: 0; }
      section .cases-blocks .cases-block:hover .overlay {
        border-bottom: 1300px solid #FFED00;
        border-left: 1300px solid transparent;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
      section .cases-blocks .cases-block .corner-overlay-content {
        bottom: 15px;
        color: #2D2A26;
        position: absolute;
        right: 15px;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
      section .cases-blocks .cases-block:hover .corner-overlay-content {
        opacity: 0;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
      section .cases-blocks .cases-block .overlay-content {
        bottom: 0;
        color: #333;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 15%;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
        section .cases-blocks .cases-block .overlay-content img {
          width: 110px;
          height: 75px;
          margin-bottom: 35px; }
        section .cases-blocks .cases-block .overlay-content h2 {
          font-family: "Intro-Bold", sans-serif;
          margin-bottom: 10px; }
        section .cases-blocks .cases-block .overlay-content p {
          font-family: "Graphik", sans-serif;
          font-size: 12px;
          line-height: 23px; }
        section .cases-blocks .cases-block .overlay-content span {
          font-family: "Graphik", sans-serif;
          text-transform: uppercase; }
      section .cases-blocks .cases-block:hover .overlay-content {
        opacity: 1;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s; }
      section .cases-blocks .cases-block .btn {
        border: none;
        cursor: pointer;
        padding: 5px 41px 5px 25px;
        -webkit-transform: skew(45deg);
                transform: skew(45deg);
        background-color: #2D2A26;
        color: #fff; }
        section .cases-blocks .cases-block .btn p {
          -webkit-transform: skew(-45deg);
                  transform: skew(-45deg);
          margin: 0 auto;
          text-transform: uppercase;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          section .cases-blocks .cases-block .btn p img {
            position: absolute;
            top: 5px;
            left: 58px;
            margin-left: 20px;
            width: 12px;
            height: 12px; }
    section .cases-blocks .cases-block-item {
      width: 660px;
      height: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      section .cases-blocks .cases-block-item .link-block {
        background-color: #2D2A26;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        section .cases-blocks .cases-block-item .link-block a {
          text-decoration: none;
          color: #FFED00; }
        section .cases-blocks .cases-block-item .link-block p {
          font-family: "Intro-Bold", sans-serif;
          margin: auto;
          line-height: 23px;
          font-size: 18px;
          text-align: center;
          letter-spacing: 0.08em;
          text-transform: uppercase; }
          section .cases-blocks .cases-block-item .link-block p img {
            width: 20px;
            height: 20px;
            position: absolute;
            margin-left: 10px; }
      section .cases-blocks .cases-block-item .cases_item {
        width: 310px;
        height: 242px;
        margin-left: 15px; }
        section .cases-blocks .cases-block-item .cases_item img {
          width: 100%;
          height: 100%; }
      section .cases-blocks .cases-block-item .cases_item:nth-child(3),
      section .cases-blocks .cases-block-item .cases_item:nth-child(4) {
        margin-top: 15px; }

.block-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  margin: auto; }
  .block-brand .brand-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 100px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .block-brand .brand-items .brand-item:nth-child(1) {
      width: 85px;
      height: 41px; }
    .block-brand .brand-items .brand-item:nth-child(2) {
      width: 100px;
      height: 52px; }
    .block-brand .brand-items .brand-item:nth-child(3) {
      width: 100px;
      height: 29px; }
    .block-brand .brand-items .brand-item:nth-child(4) {
      width: 100px;
      height: 44px; }
    .block-brand .brand-items .brand-item:nth-child(5) {
      width: 100px;
      height: 21px; }
    .block-brand .brand-items .brand-item-buttom:nth-child(1) {
      width: 100px;
      height: 85px; }
    .block-brand .brand-items .brand-item-buttom:nth-child(2) {
      width: 100px;
      height: 78px; }
    .block-brand .brand-items .brand-item-buttom:nth-child(3) {
      width: 100px;
      height: 58px; }
    .block-brand .brand-items .brand-item-buttom:nth-child(4) {
      width: 100px;
      height: 50px; }
    .block-brand .brand-items .brand-item-buttom:nth-child(5) {
      width: 85px;
      height: 41px; }
    .block-brand .brand-items img {
      width: 100%;
      height: 100%; }

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 130px auto 100px auto; }
  .testimonial .testimonial-person img {
    border-radius: 10px; }
  .testimonial .testimonial-person .person__name {
    font-family: "ABeeZee", sans-serif;
    font-style: italic;
    line-height: 34px;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 0 0; }
  .testimonial .testimonial-person .person__profession {
    font-family: "Graphik", sans-serif;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    margin: 0; }
  .testimonial .testimonial-review {
    max-width: 700px;
    position: relative;
    z-index: 1; }
    .testimonial .testimonial-review__text {
      font-family: "Graphik", sans-serif;
      line-height: 53px;
      font-size: 28px;
      margin-top: 20px;
      text-align: center;
      display: block;
      position: relative;
      z-index: 1; }
    .testimonial .testimonial-review img {
      position: absolute;
      top: 20px;
      left: 40%;
      z-index: 0;
      width: 134px;
      height: 157px; }

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFED00;
  height: 290px; }
  .work .box-block {
    margin: auto; }
  .work .btn-contact {
    border: none;
    padding: 15px 40px;
    -webkit-transform: skew(40deg);
            transform: skew(40deg);
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    background-color: #2D2A26;
    cursor: pointer;
    outline: none;
    margin-top: 20px; }
    .work .btn-contact p {
      -webkit-transform: skew(-40deg);
              transform: skew(-40deg);
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .work .btn-contact p img {
        margin-left: 15px;
        width: 13px;
        height: 13px; }

footer {
  padding: 20px 50px 10px 50px;
  background-color: #2D2A26;
  height: 175px; }
  footer .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer .footer-block .footer-block-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 400px;
      color: #fff; }
      footer .footer-block .footer-block-item p {
        font-family: "Intro-Regular", sans-serif;
        line-height: 30px;
        font-size: 16px;
        letter-spacing: 0.06em;
        text-transform: uppercase; }
        footer .footer-block .footer-block-item p span {
          font-family: "Intro-Bold", sans-serif; }
      footer .footer-block .footer-block-item img {
        width: 55px;
        height: 30px; }
    footer .footer-block .footer-block-item:nth-child(2) {
      width: 180px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  footer .footer-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 14px;
    padding: 0; }
    footer .footer-menu ul li {
      margin-right: 15px;
      font-family: "Graphik", sans-serif;
      color: #FFED00; }
    footer .footer-menu ul li:nth-child(1) {
      color: #898684;
      margin-right: 20px; }

/*# sourceMappingURL=style.css.map */