$max-slides:					5;
$prefix:						true;
$responsive:					true;
$fade-time:						1;
$autohide-next-prev:			true;
$gray:							rgba(255,255,255,0.4);
$yellow:						#FFED00;
$white:							#fff;
$dark-gray:					 	#2D2A26;
$light-gray:					#898684;
// Шрифты
$intro-b:						'Intro-Bold', sans-serif;
$intro-it:						'Intro-Bold-Italic', sans-serif;
$graphik:						'Graphik', sans-serif;				
$intro-reg:						'Intro-Regular', sans-serif;	
$abee:							'ABeeZee', sans-serif;					

body {
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	#logo{
		position: fixed;
		top: 12%;
		left: 5%;
		z-index: 100;
	}
	.logo_none {
		opacity: 0;
		transition: all 0.3s ease-out;
	}
	.logo_return {
	display: block;
	opacity: 1;
	z-index: 1;
	text-transform: uppercase;
	svg path:nth-child(3){
		fill: $dark-gray;
	}
}
	nav{
		position: absolute;
		top: 0;
		right: -12%;
		z-index:1;
		width: 100%;
		height: 80px;
		background: $dark-gray;
		display: flex;
		justify-content: space-around;
		align-items: center;
		transform: skew(40deg);
		ul{
			font-family: $intro-b;
			font-size: 14px;
			display: flex;
		    justify-content: space-between;
		    list-style: none;
		    transform: skew(-40deg);
		    color: $white;
		    margin-right: 20px;
		    li{
		    	margin: auto;
		    	a{
		    		display: inline-block;
		    		padding: 0 30px;
		    		color: $white;
		    		text-decoration: none;
		    	}
		    }
		    a:hover{
		    	height: 80px;
		    	transform: skew(40deg);
		    	background-color: $yellow;
		    	display: flex;
		    	align-items: center;
		    	color: $dark-gray;
		    	cursor: pointer;
		   span{
		    	transform: skew(-40deg);
		    	color: $dark-gray;
		    	}
		   }
		    li:nth-child(8){
		    	margin-left: 50px;
		    	padding: 15px 0;
		    	border: 1px solid $yellow;
		    	transform: skew(40deg);
		    	pointer-events:none;
		    	a{
		    		transform: skew(-40deg);
		    		color: $yellow;
		    	}
		    }
		}
	}
	.scroll-down{
		position: absolute;
		top: 86%;
    	left: 94%;
		z-index:1;
		display: flex;
   		align-items: center;
   		font-family: $intro-reg;
		transform: rotate(-90deg);
		height: 67px;
    	width: 123px;
		p{
			margin: 0;
			font-size: 14px;
			color: $white;
		}
	}
	.scroll-down::before{
		content: '';
		display: inline-block;
		background-color: $white;
		margin-right: 12px;
		width: 25px;
		height: 1px;
	}
}
.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	overflow: hidden;
}
.block-text{
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	color: white; 
	font-family: sans-serif; 
	text-align: center; 
	text-shadow: 0 0 20px rgba(0,0,0,0.5);
	&__title{
		margin-bottom: 10px;
		font-family: $intro-it;
		line-height: 83px;
		font-size: 64px;
		text-align: center;
		text-transform: uppercase;
	}
	&__p{
		font-family: $graphik;
		margin:0;
		line-height: 34px;
		font-size: 18px;
		text-align: center;
	}
}

@mixin fadeshow-transition($value...) {
	@if length($value) < 1 {
		$value: all 150ms linear;
	}
	@if $prefix == true {
		-webkit-transition: $value;
	}
				  transition: $value;
}

@mixin fadeshow-transform($value...) {
	@if length($value) < 1 {
		$value: all 150ms linear;
	}
	@if $prefix == true {
		-webkit-transform: $value;
			 -ms-transform: $value;
	}
				  transform: $value;
}

@mixin fadeshow-animation($value...) {
	@if $prefix == true {
		-webkit-animation: $value;
	}
				  animation: $value;
}

@mixin fadeshow-animation-delay($value) {
	@if $prefix == true {
		-webkit-animation-delay: $value;
	}
				  animation-delay: $value;
}

@mixin fadeshow-unselectable() {
	@if $prefix == true {
		-webkit-user-select: none;
		   -moz-user-select: none;
			 -ms-user-select: none;
	}
				  user-select: none;
}

@mixin quickNavBtnActive() {
	background-color: $yellow;
}

@mixin quickNavBtnInactive() {
	background-color: $gray;
}

[data-am-fadeshow] {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: $white;

	/* Slides */
	.fs-slide {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include fadeshow-transition(opacity #{$fade-time}s ease);

		&:first-child {
			opacity: 1;
		}
	}
	/* Quick Navigation */
	.fs-quick-nav {
		position: absolute;
		bottom: 15px;
		left: 8%;
		z-index: 1;
		@include fadeshow-unselectable();
		@include fadeshow-transform(translateX(-50%));
	}

	.fs-quick-btn {
		display: inline-block;
		width: 41px;
    	height: 6px;
    	margin: 0 7px;
		transform: skew(40deg);
		cursor: pointer;
		@include fadeshow-transition(opacity 200ms ease);
		@include quickNavBtnInactive();

		&:hover {
			opacity: 0.8;
		}
		/* Set active state to first button on load */
		&:first-child {
			@include quickNavBtnActive();
		}
	}
	
	/* Base functionality */
	input[type="radio"] {
		position: fixed;
		top: -9999px;

		&:checked {
			/* This loop handles the slide switching and quick navigation active state */
			$i: $max-slides;

			@while $i > 0 {

				&:nth-of-type(#{$i}) {
					~ .fs-slides {
						.fs-slide {
							opacity: 0;
							@include fadeshow-animation(none !important);
						}
						.fs-slide:nth-child(#{$i}) {
							opacity: 1;
						}
					}

					~ .fs-quick-nav {
						.fs-quick-btn {
							@include quickNavBtnInactive();
							@include fadeshow-animation(none !important);
						}
						.fs-quick-btn:nth-child(#{$i}) {
							background-color: $yellow;
							&:hover {
								opacity: 1;
							}
						}
					}

				}
				$i: $i - 1;
			}
			&:first-of-type:last-of-type {
				~ .fs-quick-nav,
				~ .fs-prev-nav,
				~ .fs-next-nav {
					display: none !important;
				}
			}

		}
	}
	/* Autohide Prev/Next Navigation */
	@if $autohide-next-prev == true {
		&:hover {
			.fs-prev-btn,
			.fs-next-btn {
				@include fadeshow-transform(translateX(0));
			}
		}
	}
}
section {
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100%;
	.box-block{
		margin: 100px auto 0 auto;
		position: relative;

	&__title{
		margin: auto;
		position: relative;
		font-family: $intro-it;
		line-height: 72px;
		font-size: 56px;
		text-transform: uppercase;
		z-index:1;
	}
	&__text{
		margin: 0 auto;
		max-width: 750px;
		font-family: $graphik;
		line-height: 30px;
		font-size: 16px;
		}	
		.yellow-line{
			width: 10px;
			z-index: -1;
			height: 65px;
			background-color: $yellow;
			transform: skew(30deg);
			position: absolute;
			left: 280px;
		}
		
		.meet{
			position: absolute;
			left: 5px;
		}
		.item-blocks{
			display: flex;
			flex-direction: column;
		}
	}
	.services-item{
		display: flex;
		justify-content: space-between;
		transform: skew(35deg);
		margin-top: 50px;
		.serv_block{
			transform: translateY(150px);
		svg:nth-child(2){
			margin: 15px 60px;
			}
		}
	.item-block{
		margin: 10px;
		padding-left: 40px;
		display: flex;
		flex-direction: column;
		width: 220px;
		height: 210px;
		background: $dark-gray;
		&__title{
			max-width: 100px;
			font-family: $intro-b;
			line-height: 21px;
			font-size: 16px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: $white;
			margin-top: 20px;
		}
		&__text{
			float: left;
			text-align: left;
			max-width: 175px;
			font-family: $graphik;
			line-height: 18px;
			font-size: 13px;
			color: $white;
			margin-top: 0;
			}
		.services_content{
			margin-right: 30px;
		svg{
			margin:10px 0;
			}
		}
		h2,p,svg{
			transform: skew(-35deg);
		}
		svg .ic-1{
			fill: $yellow;
		}
		svg:nth-child(4){
			margin: auto;
		}
		svg path{
			fill: inherit;
		}
	}
		.item-block:hover{
			background-color: $yellow;
			cursor: pointer;
			transition: all 0.2s ease-out;
		h2{
			color: $dark-gray;
			}
		svg .ic-1{
			fill: $dark-gray;
			}
		}
	}
}

//Модальное окно
		#modal_window{
			position: fixed;
			z-index: 5;
			overflow: auto;
			height: 110%;
			width: 100%;
		}
		#overlay {
			z-index: 2; 
			position: fixed; 
			background-color: #fff; 
			width: 100%; 
			height: 100%; 
			top: 0; 
			left: 0; 
			cursor: pointer;
			display: none; 
		}
		.services-blocks{
			display: flex;
			justify-content: center;
			flex-direction: column;
			position: relative;
			display: none;
  //убрав эту строку можно увидеть блок, который должен появится при нажатии на блок VIEW MORE SERVICES, 
							//не смог э...
		.box-block{
			margin-top: 170px;
			.yellow-line{
			left: 40%;
			}
		}
		.services-columns{
			display: flex;
			justify-content: center;
			transform: skew(30deg);
			width: 100%;
			margin: 200px auto;

		.services-column:nth-child(1){
			transform: translateY(350px);
			height: 460px;
		}
		.services-column:nth-child(2){
			transform: translateY(0);
			height: 910px;
		}
		.services-column:nth-child(3){
			transform: translateY(-150px);
			height: 690px;
		}
		.services-column:nth-child(4){
			transform: translateY(0);
			height: 460px;
		}
		.services-column{
			display: flex;
			flex-direction: column;
			h2,p,svg{
			transform: skew(-30deg);
			}
			svg{
			margin: 0 50px 30px 50px;
			}
			svg .ic-1{
			fill: $yellow;
			}
			svg path{
			fill: inherit;
			}
		.services_content{
			margin-right: 30px;
		svg{
			margin:10px 0;
			}
		}
		.column-item{
			background-color: $dark-gray;
			margin: 10px;
			padding-left: 40px;
			display: flex;
			flex-direction: column;
			width: 210px;
			height: 200px;
		&__title{
			max-width: 100px;
			font-family: $intro-b;
			line-height: 21px;
			font-size: 16px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: $white;
			margin-top: 20px;
		}
		&__text{
			float: left;
			text-align: left;
			max-width: 175px;
			font-family: $graphik;
			line-height: 18px;
			font-size: 13px;
			color: $white;
			margin-top: 0;
			}
		}
		.column-item:hover{
			background-color: $yellow;
			cursor: pointer;
		h2,p{
			color: $dark-gray;
			}
		svg .ic-1{
			fill: $dark-gray;
			}
		}
	}
}
	.services-close{
		position: absolute;
		cursor: pointer;
		top: 100px;
		right: 40px;
		background-color: $dark-gray;
		transform: skew(35deg);
		p{
			padding: 5px 15px;
			margin: 0;
			transform: skew(-35deg);
			color: $white;
			font-family: $graphik;
		}
	}
}



// Блок cases
section{
	display: flex;
	flex-direction: column;
.cases-blocks{
	display: flex;
	justify-content: space-between;
	margin: 50px 15px;
	.cases-row{
		display: flex;
		margin: auto;
	}
	.cases-block{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		width: 750px;
		height: 500px;
		backface-visibility: hidden;
  		overflow: hidden;
  	img{
		width: 100%;
		height: 100%;
	}
	.overlay{
		border-bottom: 100px solid $yellow; 
	    border-left: 100px solid transparent;
	    bottom: 0;
	    height: 0;
	    opacity: .8;
	    position: absolute;
	    right: 0;
	    text-indent: -9999px;
	    transition: all 0.5s ease-out;
	    width: 0;
	  }
	&:hover .overlay{
	   border-bottom: 1300px solid $yellow; 
	   border-left: 1300px solid transparent;
	   transition: all 0.5s ease-out;
	  }
	.corner-overlay-content{
	    bottom: 15px;
	    color: $dark-gray;
	    position: absolute;
	    right: 15px;
	    transition: all 0.5s ease-out;
	  }
	&:hover .corner-overlay-content{
	    opacity: 0;
	    transition: all 0.5s ease-out;
	  }
	.overlay-content{
	    bottom: 0;
	    color: #333;
	    left: 0;
	    opacity: 0;
	    padding: 30px;
	    position: absolute;
	    right: 0;
		top: 15%;
	    transition: all 0.3s ease-out;
    img{
    	width: 110px;
    	height: 75px;
    	margin-bottom: 35px;
    }
    h2{
      font-family: $intro-b;
	  margin-bottom: 10px;
    }
    p{
    	font-family: $graphik;
		font-size: 12px;
		line-height: 23px;
    }
    span{
    	font-family: $graphik;
	    text-transform: uppercase;
	    }
	  }
	  &:hover .overlay-content{
	    opacity: 1;
	    transition: all 0.3s ease-out;
	    transition-delay: 0.3s;
	  }
	.btn{
		border: none;
		cursor: pointer;
		padding: 5px 41px 5px 25px;
		transform: skew(45deg);
		background-color: $dark-gray;
		color: $white;
		p{
			transform: skew(-45deg);
			margin: 0 auto;
			text-transform: uppercase;
			display: flex;
			justify-content: center;

		img{
			position: absolute;
			top: 5px;
			left: 58px;
			margin-left: 20px;
			width: 12px;
			height: 12px;
			}
		}
	}
}
	.cases-block-item{
		width: 660px;
		height: 500px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	.link-block{
		background-color: $dark-gray;
		display: flex;
		align-items: center;
		a{
		text-decoration:none;
		color: $yellow;	
		}
		p{
		font-family: $intro-b;
		margin: auto;
		line-height: 23px;
		font-size: 18px;
		text-align: center;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		img{
			width: 20px;
			height: 20px;
			position: absolute;
			margin-left: 10px;
			}
		}
	}
	.cases_item{
		width: 310px;
		height: 242px;
		margin-left: 15px;
	
	img{
		width: 100%;
		height: 100%;
		}
	}
	.cases_item:nth-child(3),
	.cases_item:nth-child(4){margin-top: 15px;}
		}
	}
}

.block-brand{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 75%;
	margin: auto;
	.brand-items{
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
		align-items: flex-end;
	.brand-item:nth-child(1){
		width: 85px;
		height: 41px;
	}
	.brand-item:nth-child(2){
		width: 100px;
		height: 52px;
	}
	.brand-item:nth-child(3){
		width: 100px;
		height: 29px;
	}
	.brand-item:nth-child(4){
		width: 100px;
		height: 44px;
	}
	.brand-item:nth-child(5){
		width: 100px;
		height: 21px;
	}
	.brand-item-buttom:nth-child(1){
		width: 100px;
		height: 85px;
	}
	.brand-item-buttom:nth-child(2){
		width: 100px;
		height: 78px;
	}
	.brand-item-buttom:nth-child(3){
		width: 100px;
		height: 58px;
	}
	.brand-item-buttom:nth-child(4){
		width: 100px;
		height: 50px;
	}
	.brand-item-buttom:nth-child(5){
		width: 85px;
		height: 41px;
	}
	img{
		width: 100%;
		height: 100%;
		}
	}
}


.testimonial{
	display: flex;
	flex-direction: column;
	margin: 130px auto 100px auto;
	.testimonial-person{
		img{
			border-radius: 10px;
		}
		.person__name{
			font-family: $abee;
			font-style: italic;
			line-height: 34px;
			font-size: 18px;
			text-align: center;
			margin: 10px 0 0 0;
		}
		.person__profession{
			font-family: $graphik;
			line-height: 26px;
			font-size: 14px;
			text-align: center;
			margin: 0;
		}
	}
	.testimonial-review{
		max-width: 700px;
		position: relative;
		z-index: 1;
	&__text{
		font-family: $graphik;
		line-height: 53px;
		font-size: 28px;
		margin-top: 20px;
		text-align: center;
		display: block;
		position: relative;
		z-index: 1;
		}
		img{
			position: absolute;
			top: 20px;
			left: 40%;
			z-index: 0;
			width: 134px;
			height: 157px;
		}
	}
}



.work{
	display: flex;
	flex-direction: column;
	background-color: $yellow;
	height: 290px;
	.box-block{
		margin: auto;
	}
	.btn-contact{
		border: none;
		padding: 15px 40px;
		transform: skew(40deg);
		text-transform: uppercase;
		color: $white;
		font-size: 14px;
		background-color: $dark-gray;
		cursor: pointer;
		outline: none;
		margin-top: 20px;
		p{
			transform: skew(-40deg);
			margin: 0;
			display: flex;
			align-items: center;
		img{
			margin-left: 15px;
			width: 13px;
			height: 13px;
			}
		}
	}
}


footer{
	padding: 20px 50px 10px 50px;
	background-color: $dark-gray;
	height: 175px;
	.footer-block{
		display: flex;
		justify-content: space-between;
	.footer-block-item{
		display: flex;
		justify-content: space-between;
		width: 400px;
		color: $white;
	p{
		font-family: $intro-reg;
		line-height: 30px;
		font-size: 16px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	span{
		font-family: $intro-b;
		}
	}
	img{
		width: 55px;
		height: 30px;
		}
	}
	.footer-block-item:nth-child(2){
		width: 180px;
		flex-direction: column;
		}
	}
	.footer-menu{
		ul{
			display: flex;
			list-style: none;
			font-size: 14px;
			padding:0;
		li{
			margin-right: 15px;
			font-family: $graphik;
			color: $yellow;
		}
		li:nth-child(1){
			color: $light-gray;
			margin-right: 20px;
			}
		}
	}
}